<h5 class="muted">Publications by</h5>
<ul class="nav nav-list">
	<li><a href="/publications">Year</a></li>
	<li><a href="/publications/pubs_type.html">Type</a></li>
</ul>

<h5 class="muted">Year</h5>
<ul class="nav nav-list">
	<li><a href="#2017">2017</a></li>
	<li><a href="#2016">2016</a></li>
	<li><a href="#2015">2015</a></li>
	<li><a href="#2014">2014</a></li>
	<li><a href="#2013">2013</a></li>
	<li><a href="#2012">2012</a></li>
	<li><a href="#2011">2011</a></li>
	<li><a href="#2010">2010</a></li>
	<li><a href="#2008">2008</a></li>
</ul>
