<h5 class="muted">H2020 Projects</h5>
<ul class="nav nav-list">
	<li><a href="#bugwright2">BUGWRIGHT2</a></li>
	<li><a href="#robins">ROBINS</a></li>
</ul>

<h5 class="muted">FP7 Projects</h5>
<ul class="nav nav-list">
	<li><a href="#incass">INCASS</a></li>
	<li><a href="#minoas">MINOAS</a></li>
</ul>

<h5 class="muted">FP6 Projects</h5>
<ul class="nav nav-list">
	<li><a href="#shareit">SHARE-it</a></li>
</ul>

<h5 class="muted">Spanish Research Projects</h5>
<ul class="nav nav-list">
	<li><a href="#fuzzymar">FUZZYMAR</a></li>
	<li><a href="#superion">SUPERION</a></li>
	<li><a href="#triton">TRITON</a></li>
</ul>
